Repository jeanfbrito/Biker-Log, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, test, ui, data, calibration, service, dependencies, github, performance, security, sensors, settings

fix: Update minimum SDK to API 30 for GNSS compatibility
  .github/workflows/release.yml
  CHANGELOG.md
  app/build.gradle.kts
  app/src/main/java/com/motosensorlogger/MainActivity.kt
  readme.md
Labels: documentation, build, ui, dependencies, github

fix: Add proper permissions to GitHub Actions workflows
  .github/workflows/android-ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
Labels: build, github

fix: workflow permissions and syntax errors
  .github/workflows/ai-agent-triage.yml
  .github/workflows/pr-automation.yml
  .github/workflows/project-automation.yml
Labels: build, github

fix: increase CI test timeout and add no-daemon flag
  .github/workflows/android-ci.yml
Labels: build, github

fix: update minimum SDK to API 30 for GNSS compatibility (#24)
  .github/workflows/ai-agent-triage.yml
  .github/workflows/android-ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/pr-automation.yml
  .github/workflows/project-automation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  app/build.gradle.kts
  app/src/main/java/com/motosensorlogger/MainActivity.kt
  readme.md
Labels: documentation, build, ui, dependencies, github

fix: disable gradle cache in CI to avoid bcprov jar corruption
  .github/workflows/android-ci.yml
Labels: build, github

fix: add dependency resolution strategy to prevent bcprov conflicts
  .github/workflows/android-ci.yml
  build.gradle.kts
Labels: build, dependencies, github

fix: add gradle cache cleanup to prevent bcprov jar corruption
  .github/workflows/android-ci.yml
Labels: build, github

fix: exclude bouncycastle dependency to avoid jar corruption
  build.gradle.kts
Labels: build, dependencies

perf: add comprehensive CI caching and build optimizations
  .github/workflows/android-ci.yml
  gradle.properties
Labels: build, github

fix: revert bouncycastle exclusion and jar cleanup
  .github/workflows/android-ci.yml
  build.gradle.kts
Labels: build, dependencies, github

fix: clear corrupted jars before each gradle task
  .github/workflows/android-ci.yml
Labels: build, github

fix: optimize CalibrationServiceTest to prevent CI timeouts
  app/src/test/java/com/motosensorlogger/calibration/CalibrationServiceTest.kt
Labels: test, calibration

fix: downgrade Android Gradle plugin to 8.2.0
  build.gradle.kts
Labels: build, dependencies

Fix CI issues: upgrade AGP, remove flaky tests
  .github/workflows/android-ci.yml
  app/build.gradle.kts
  app/src/test/java/com/motosensorlogger/calibration/CalibrationServiceTest.kt
  app/src/test/java/com/motosensorlogger/data/CsvLoggerTest.kt
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: build, test, data, calibration, dependencies, github

fix: optimize unit tests to prevent CI timeouts (#38)
  .github/workflows/android-ci.yml
  app/build.gradle.kts
  app/src/test/java/com/motosensorlogger/calibration/CalibrationServiceTest.kt
  app/src/test/java/com/motosensorlogger/data/CsvLoggerTest.kt
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: build, test, data, calibration, dependencies, github

fix: correct secrets usage in release workflow
  .github/workflows/release.yml
Labels: build, github

fix(#25): Optimize IMU sampling rate to reduce file size and battery usage
  app/build.gradle.kts
  app/src/main/java/com/motosensorlogger/SettingsActivity.kt
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
  app/src/main/java/com/motosensorlogger/settings/SettingsManager.kt
  app/src/test/java/com/motosensorlogger/settings/SamplingRateOptimizationTest.kt
  build.gradle.kts
Labels: build, test, ui, service, dependencies, performance, sensors, settings

feat: implement code quality tools and complete CI/CD setup
  CONTRIBUTING.md
  PROPER_GIT_WORKFLOW.md
  app/build.gradle.kts
  app/src/main/java/com/motosensorlogger/LogViewerActivity.kt
  app/src/main/java/com/motosensorlogger/MainActivity.kt
  app/src/main/java/com/motosensorlogger/SettingsActivity.kt
  app/src/main/java/com/motosensorlogger/TelemetryActivity.kt
  app/src/main/java/com/motosensorlogger/adapters/LogFileAdapter.kt
  app/src/main/java/com/motosensorlogger/calibration/CalibrationData.kt
  app/src/main/java/com/motosensorlogger/calibration/CalibrationManager.kt
  app/src/main/java/com/motosensorlogger/calibration/CalibrationService.kt
  app/src/main/java/com/motosensorlogger/data/CsvLogger.kt
  app/src/main/java/com/motosensorlogger/data/SensorEvent.kt
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
  app/src/main/java/com/motosensorlogger/settings/SettingsManager.kt
  app/src/main/java/com/motosensorlogger/views/BarInclinometerView.kt
  app/src/main/java/com/motosensorlogger/views/GForceView.kt
  app/src/main/java/com/motosensorlogger/views/InclinometerView.kt
  app/src/main/java/com/motosensorlogger/views/MotoInclinometerView.kt
  app/src/test/java/com/motosensorlogger/data/CsvHeaderIntegrityTest.kt
  app/src/test/java/com/motosensorlogger/settings/SamplingRateOptimizationTest.kt
  config/detekt/detekt.yml
  readme.md
  scripts/setup-branch-protection.sh
Labels: documentation, test, ui, data, calibration, service, dependencies, performance, sensors, settings

feat: implement adaptive GPS sampling rate (5-10 Hz)
  app/src/main/java/com/motosensorlogger/data/CsvLogger.kt
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
  app/src/test/java/com/motosensorlogger/services/AdaptiveGpsTest.kt
Labels: test, data, service, sensors

fix: Add division by zero protection for sampling rate
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
Labels: service, sensors

feat(#27): Implement basic IMU noise filtering for improved data quality
  app/src/main/java/com/motosensorlogger/data/SensorDataFilter.kt
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
  app/src/test/java/com/motosensorlogger/data/SensorDataFilterTest.kt
  app/src/test/java/com/motosensorlogger/services/SensorFilterIntegrationTest.kt
Labels: test, data, service, sensors

docs: add imu noise filtering to changelog
  CHANGELOG.md
Labels: documentation

ci: remove lowercase requirement for pr titles
  .github/workflows/android-ci.yml
Labels: build, github

ci: add apk download links to pr comment
  .github/workflows/android-ci.yml
Labels: build, github

ci: enhance pr comment with comprehensive build details and test plan
  .github/workflows/android-ci.yml
Labels: build, github

feat: integrate advanced imu filtering into telemetry view for smoother graphs
  app/src/main/java/com/motosensorlogger/TelemetryActivity.kt
Labels: ui, sensors

fix: correct telemetry filter implementation to use raw values
  app/src/main/java/com/motosensorlogger/TelemetryActivity.kt
Labels: ui, sensors

docs: add pre-commit lint requirement to development guidelines
  CLAUDE.md
Labels: documentation

fix: add consistent debug keystore and fix duplicate ci comments
  .github/workflows/android-ci.yml
  .gitignore
  app/build.gradle.kts
  app/debug.keystore
  scripts/generate-debug-keystore.sh
Labels: build, dependencies, github

fix: improve adaptive GPS sampling with production-quality fixes
  app/build.gradle.kts
  app/src/main/java/com/motosensorlogger/data/CsvLogger.kt
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
  app/src/test/java/com/motosensorlogger/services/AdaptiveGpsQualityTest.kt
  app/src/test/java/com/motosensorlogger/services/AdaptiveGpsTest.kt
Labels: test, data, service, dependencies, sensors

fix: improve adaptive GPS sampling with production-quality fixes
  app/build.gradle.kts
  app/src/main/java/com/motosensorlogger/data/CsvLogger.kt
  app/src/main/java/com/motosensorlogger/services/SensorLoggerService.kt
  app/src/test/java/com/motosensorlogger/services/AdaptiveGpsQualityTest.kt
  app/src/test/java/com/motosensorlogger/services/AdaptiveGpsTest.kt
Labels: test, data, service, dependencies, sensors

fix: add missing GitHub token fallback in project automation workflow
  .github/workflows/project-automation.yml
Labels: build, github

fix: make project automation workflows non-blocking
  .github/workflows/project-automation.yml
Labels: build, github

feat: Add agent worktree management system
  .agent-config.json
  .gitignore
  CLAUDE.md
  scripts/agent-auto-setup.sh
  scripts/agent-cleanup.sh
  scripts/agent-setup.sh
Labels: documentation, github

feat: implement professional noise filtering for telemetry graphs
  app/src/main/java/com/motosensorlogger/TelemetryActivity.kt
  app/src/main/java/com/motosensorlogger/filters/AdaptiveFilterChain.kt
  app/src/main/java/com/motosensorlogger/filters/ButterworthLowPassFilter.kt
  app/src/main/java/com/motosensorlogger/filters/CurveInterpolator.kt
  app/src/main/java/com/motosensorlogger/filters/ExponentialMovingAverageFilter.kt
  app/src/main/java/com/motosensorlogger/filters/FilterStrategy.kt
  app/src/main/java/com/motosensorlogger/filters/MedianFilter.kt
  app/src/main/java/com/motosensorlogger/views/GForceView.kt
Labels: ui, sensors

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# This file defines which labels to apply based on file changes

# Documentation changes
documentation:
  - '*.md'
  - 'docs/**'
  - '.github/*.md'
  - 'LICENSE*'

# Build and configuration
build:
  - '*.gradle'
  - '*.gradle.kts'
  - 'gradle/**'
  - 'gradlew*'
  - '.github/workflows/**'

# Test files
test:
  - 'app/src/test/**'
  - 'app/src/androidTest/**'
  - '**/test/**'
  - '**/*Test.kt'
  - '**/*Test.java'

# UI/UX changes
ui:
  - 'app/src/main/res/layout/**'
  - 'app/src/main/res/drawable/**'
  - 'app/src/main/res/values/colors.xml'
  - 'app/src/main/res/values/themes.xml'
  - 'app/src/main/res/values/styles.xml'
  - 'app/src/main/res/menu/**'
  - '**/views/**'
  - '**/*View.kt'
  - '**/*Activity.kt'
  - '**/*Fragment.kt'

# Data and database
data:
  - '**/data/**'
  - '**/*Repository.kt'
  - '**/*Dao.kt'
  - '**/*Database.kt'
  - '**/*Entity.kt'
  - '**/CsvLogger.kt'
  - '**/SensorEvent.kt'

# Calibration system
calibration:
  - '**/calibration/**'
  - '**/*Calibration*.kt'

# Services and background tasks
service:
  - '**/services/**'
  - '**/*Service.kt'
  - '**/*Worker.kt'
  - '**/*Receiver.kt'

# Dependencies
dependencies:
  - 'app/build.gradle.kts'
  - 'build.gradle.kts'
  - 'gradle/libs.versions.toml'

# GitHub specific
github:
  - '.github/**'
  - '.gitignore'
  - '.gitattributes'

# Performance related
performance:
  - '**/*Performance*.kt'
  - '**/*Optimization*.kt'
  - '**/*Cache*.kt'

# Security related
security:
  - '**/*Security*.kt'
  - '**/*Encryption*.kt'
  - '**/*Auth*.kt'
  - 'app/proguard-rules.pro'

# Sensor related
sensors:
  - '**/*Sensor*.kt'
  - '**/SensorLoggerService.kt'
  - '**/*Telemetry*.kt'

# Settings and configuration
settings:
  - '**/*Settings*.kt'
  - '**/*Config*.kt'
  - '**/*Preferences*.kt'

# Small changes
size/XS:
  - any: ['**/*']
    all: ['!*.md']
    changed-files-threshold: 5
    changed-lines-threshold: 10

# Medium changes
size/M:
  - any: ['**/*']
    all: ['!*.md']
    changed-files-threshold: 10
    changed-lines-threshold: 100

# Large changes
size/L:
  - any: ['**/*']
    all: ['!*.md']
    changed-files-threshold: 20
    changed-lines-threshold: 500

# Extra large changes
size/XL:
  - any: ['**/*']
    changed-files-threshold: 50
    changed-lines-threshold: 1000
